<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head")%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <%- include('./partials/navbar')%>
    <h1 class="d-flex justify-content-center">Blogs </h1>
    <div class="mt-5 container row row-cols-4">
        <% if (blogs && blogs.length > 0) { %>
            <% blogs.forEach ( blog => { %>
                <div class="col">
                <div class="card " style="width: 18rem; height: 24rem; ">
                    <img src="/<%= blog.blogImage %>" alt="image" class="object-fit-cover h-75">
                    <div class="card-body h-25">
                      <h5 class="card-title"><%= blog.title %></h5>
                      <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read Full Blog</a>
                    </div>
                  </div>
                </div>
            <% }) %>
            <% } else { %>
                <p>No blogs found.</p>
            <% } %>
            
    </div>
    <%- include("./partials/script")%>

</body>
</html>